# Example Environment Variables
# Copy this to .env and replace with REAL values.
# DO NOT push your .env to GitHub!

SECRET_KEY=your-django-secret-key
DEBUG=True
ALLOWED_HOSTS=*

# Database
MYSQLDATABASE=your_database_name
MYSQLUSER=your_database_user
MYSQLPASSWORD=your_database_password
MYSQLHOST=your_database_host
MYSQLPORT=3306

# Email
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
